* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #ff99b9, #ff77cc, #ff55dd);

  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center; /* Vertically center content */
  height: 100vh;
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
}

#backbox {
  /* margin-bottom: auto;
  margin-top: 20px; */
  position: absolute;
  left: 16px;
  top: 16px;
  display: none;
}

.container {
  /* display: none; */
  /* border: 3px solid black; */
  width: 40%;
  border-radius: 30px;
  padding-right: 30px;
  background-color: rgb(248, 244, 236, 0.4);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#yay {
  display: none;
}

h3 {
  font-size: 40px;
}

h1 {
  position: relative;
  left: 65px;
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}

a {
  position: relative;
  left: 142px;
  bottom: 20px;
}
#button2 {
  margin-left: 15px;
}

button {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 7px;
  font-size: 20px;
  border-radius: 30px;
  font-family: "La Belle Aurore", cursive;
  font-weight: bold;
  background-image: linear-gradient(to bottom right, #d9a7c7, #ffe6f0);

  color: black;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media only screen and (max-width: 986px) {
  a {
    position: relative;
    left: 47px;
    bottom: 20px;
  }

  h1 {
    position: relative;
    left: 40px;
    margin-bottom: 40px;
    font-size: 50px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 350px) {
  h1 {
    position: relative;
    left: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  a {
    position: relative;
    left: 20px;
    bottom: 20px;
  }

  #button2 {
    margin-left: 2px;
  }

  #btn1 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 986px) {
  h1 {
    position: relative;
    left: 20px;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
  }

  a {
    position: relative;
    left: 20px;
    bottom: 20px;
  }

  #button2 {
    margin-left: 2px;
  }

  #btn1 {
    margin-bottom: 10px;
  }
}

/* .made {
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10px;
} */

.made {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 5px;
  color: whitesmoke;
}

#made2 {
  position: relative;
  bottom: 0;
  left: 0;
}
